# Functions

In [2]:
def valueFilter(dataFrame,columnName,values):
    return dataFrame[~dataFrame[columnName].isin(values)]

# Formating Data

Imports

In [3]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np
from sklearn.model_selection import train_test_split

## drop unecessary features

In [4]:
audi_raw = pd.read_csv('data/audi.csv')
audi_raw = audi_raw.drop(columns=['tax', 'mpg','engineSize'])
audi_raw

      model  year  price transmission  mileage fuelType
0        A1  2017  12500       Manual    15735   Petrol
1        A6  2016  16500    Automatic    36203   Diesel
2        A1  2016  11000       Manual    29946   Petrol
3        A4  2017  16800    Automatic    25952   Diesel
4        A3  2019  17300       Manual     1998   Petrol
...     ...   ...    ...          ...      ...      ...
10663    A3  2020  16999       Manual     4018   Petrol
10664    A3  2020  16999       Manual     1978   Petrol
10665    A3  2020  17199       Manual      609   Petrol
10666    Q3  2017  19499    Automatic     8646   Petrol
10667    Q3  2016  15999       Manual    11855   Petrol

[10668 rows x 6 columns]

## filter results to just automatic petrols

In [8]:
#audi_raw = audi_raw[audi_raw.transmission !='Manual']
#audi_raw = audi_raw[audi_raw.fuelType != 'Diesel']
audi_raw = valueFilter(audi_raw,"transmission",['Manual','Semi-Auto'])
audi_raw = valueFilter(audi_raw,"fuelType",['Diesel','Hybrid'])
audi_raw

      model  year  price transmission  mileage fuelType
5        A1  2016  13900    Automatic    32260   Petrol
15       A3  2017  14500    Automatic    26156   Petrol
17       A3  2014  13900    Automatic    30516   Petrol
33       Q3  2017  16000    Automatic    47482   Petrol
44       Q3  2016  15200    Automatic    58750   Petrol
...     ...   ...    ...          ...      ...      ...
10641    A5  2020  25000    Automatic      751   Petrol
10647    A3  2015  21000    Automatic    12084   Petrol
10648   RS6  2016  49990    Automatic    24000   Petrol
10655    S4  2018  29995    Automatic    29000   Petrol
10666    Q3  2017  19499    Automatic     8646   Petrol

[1030 rows x 6 columns]